.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.user-login-form {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
  -webkit-box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
  -moz-box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
}

.user-login-form input {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
  -webkit-box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
  -moz-box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
}

.login-btn {
  width: 100%;
}
