.newsletter {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--appBlue);
}
.newsletter span {
  font-size: 1.5rem;
}

.newsletter-form-container,
form {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.newsletter-form-container input {
  border: none;
  outline: none;
  height: 2rem;
  width: 15rem;
  padding: 5px 10px;
}

.newsletter-form-container button {
  height: 2.7rem;
  font-weight: bold;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .newsletter {
    padding: 2rem;
  }
  .newsletter-form-container {
    flex-direction: column;
  }
  form {
    flex-direction: column;
  }

  .newsletter-form-container button {
    width: 100%;
  }
}
